<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('보드 수정')"></head>
<nav th:replace="fragments/navigation :: menu(${userName})"></nav>
<body>
<div class="container">
    <h1>Board Update</h1>
    <div>
    <form th:action="@{/board/update/{id}(id=${board.getId()})}" method="post">

        <div class="row">
            <div class="mb-3 col">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" th:value="${board.getTitle()}"
                       th:readonly="${board.getUser().getId()==user.getId() ? false : true}">
            </div>
            <div class="mb-3 col">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" name="author" th:value="${board.getUser().getName()}"readonly>
            </div>
        </div>
        <div class="mb-3 col">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="content" th:text="${board.getContent()}"
                      th:readonly="${board.getUser().getId()==user.getId() ? false : true}" style="height: 100px"></textarea>
        </div>
        <div class="justify-content-center" th:if="${board.getUser().getId()==user.getId()}">
            <a th:href="@{/boardList}" class="btn btn-secondary">취소</a>
            <a th:href="@{/board/delete/{id}(id=${board.getId()})}" class="btn btn-danger" >삭제</a>
            <button type="submit" class="btn btn-primary" >수정</button>
        </div>
    </form>
    </div>
    <br>
    <h2>댓글</h2>
    <div>총 댓글 수:
        <span th:if="${commentList != null}" th:text="${commentList.size()}"></span>
        <span th:if="${commentList == null}" th:text="0"></span>
    </div>
    <br>
        <div>
            <form th:action="@{/board/{id}/comment/update/(id=${board.getId()})}" th:each="comment : ${commentList}">
                <div>
                <hr>
                    <h6 th:text="${comment.name}"></h6>
                    <h6 th:text="${comment.modifiedDate}"></h6>
                    <h6 th:text="${comment.comment}"></h6>
                <div th:if="${comment.getUserId()==user.getId()}">
                    <a th:href="@{/board/{boardId}/comment/delete/{commentId}(boardId=${board.getId()}, commentId=${comment.getId()})}" class="btn btn-danger" >삭제</a>
                    <button type="submit" class="btn btn-primary" >수정</button>
                </div>
                <hr>
                </div>
            </form>
        </div>
    <div>
    <form th:action="@{/board/{id}/comment/save(id=${board.getId()})}" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text">댓글</span>
            <textarea class="form-control" aria-label="With textarea" id="comment" name="comment"></textarea>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-primary">입력</button>
        </div>
    </form>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>