<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="commentFragment">
    <div id="commentContainer">
        <div>총 댓글 수:
            <span th:if="${commentList != null}" th:text="${commentList.size()}"></span>
            <span th:if="${commentList == null}" th:text="0"></span>
        </div>
        <br>
        <hr>
        <!--댓글 리스트-->
        <div>
            <div th:each="comment : ${commentList}">
                <div>

                    <div class="mb-3">
                        <span><img th:src="${comment.user.picture}" width="75" height="75"/></span>
                    </div>
                    <div>
                        <span class="mx-3" style="font-weight: bold" th:text="${comment.user.name}"></span>
                    </div>
                    <!--댓글 내용-->
                    <div th:id="'comment-view'+${comment.id}">
                        <th:block th:replace="/fragments/comment/commentView :: commentViewFragment"></th:block>
                    </div>
                    <!--댓글 수정-->
                    <div th:id="'comment-update'+${comment.id}" style="display: none">
                        <th:block th:replace="/fragments/comment/commentUpdate :: commentUpdateFragment"></th:block>
                    </div>
<!--                    <div class="mx-3">-->
<!--                        <span th:text="${comment.comment}"></span>-->
<!--                    </div>-->
<!--                    <div class="text-end">-->
<!--                        <span th:text="${comment.modifiedDate}"></span>-->
<!--                    </div>-->
<!--                    <div class="text-end my-3" th:if="${comment.getUser().getId()==user.getId()}">-->
<!--                        <a class="btn btn-secondary"-->
<!--                           th:attr="onclick=|deleteComment('${comment.id}')|">삭제</a>-->
<!--                        <button type="submit" class="btn btn-secondary">수정</button>-->
<!--                    </div>-->
                </div>
                <hr>
            </div>
        </div>
        <!--댓글 입력-->
        <div>
            <form>
                <div class="input-group mb-3">
                    <span class="input-group-text">댓글</span>
                    <textarea class="form-control" aria-label="With textarea" id="comment" name="comment"></textarea>
                </div>
            </form>
            <div class="text-end">
                <button type="button" id="btn-comment-save"
                        th:attr="onclick=|saveComment()|" class="btn btn-primary">입력</button>
            </div>
        </div>
    </div>
</th:block>
<script type="text/javascript" th:src="@{/js/comment.js}"></script>
</html>