<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="commentFragment">
    <div>총 댓글 수:
        <span th:if="${commentList != null}" th:text="${commentList.size()}"></span>
        <span th:if="${commentList == null}" th:text="0"></span>
    </div>
    <br>
    <!--댓글 리스트-->
    <div>
        <form th:action="@{/board/{id}/comment/update/(id=${board.getId()})}" th:each="comment : ${commentList}">
            <div>
                <hr>
                <span><img th:src="${comment.user.picture}" width="100" height="100"/></span>
                <span th:text="${comment.user.name}"></span>
                <div>
                    <h6 th:text="${comment.modifiedDate}"></h6>
                    <h6 th:text="${comment.comment}"></h6>
                </div>
                <div th:if="${comment.getUser().getId()==user.getId()}">
                    <a class="btn btn-danger" id="btn-comment-delete" th:attr="onclick=|deleteComment('${board.getId()}')|">삭제</a>
                    <button type="submit" class="btn btn-primary">수정</button>
                </div>
                <hr>
            </div>
        </form>
    </div>
    <!--댓글 입력-->
    <div>
        <form th:action="@{/board/{id}/comment/save(id=${board.getId()})}" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text">댓글</span>
                <textarea class="form-control" aria-label="With textarea" id="comment" name="comment"></textarea>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">입력</button>
            </div>
        </form>
    </div>
</th:block>

</html>